.todo-item {
  background-color: lightgray;
  border-radius: 1em;
  height: 3em;
  /* margin: 1em; */
  display: flex;
  width: 500px;
  align-items: center;
}
.todo-item .delete-todo {
  margin-right: 20px;
  margin-left: auto;
}

.todo-gap {
  height: 1em;
  width: 500px;
}
.text-item {
  margin-left: 20px;
}
